
{% extends "index.html" %}

{% load static %}

{% block form %}

  <form method="post" id="main_form">
    {% csrf_token %}
    <div class="form-group">
        <p>
            <label for="id_action">Action:</label>
            {{ form.action }}
        </p>

        <p>
            <label for="id_ip">IP address:</label>
            {{ form.ip }}
        </p>
        <p id=error style="color:red"></p>

        <button class="form-control" type="submit" value="execute" name="execute">Выполнить</button>
      </div>
  </form>

  <script src="{% static 'scripts/bill.js' %}"></script>

{% endblock %}