
{% extends "index.html" %}

{% load static %}

{% block form %}

  <form method="post" id="main_form">
    {% csrf_token %}
    <div class="form-group">
        <p>
            <label for="id_action">Action:</label>
            {{ form.action }}
        </p>

        <p>
            <label for="id_ip">IP address:</label>
            {{ form.ip }}
        </p>
        
        <p class="form_hidden_field" id="input_mac"> <!-- css class with "display" property set to "none" -->
            <label for="input_mac">MAC Address</label>
            {{ form.mac }}
        </p>    


        <button class="form-control" type="submit" value="execute" name="execute">Выполнить</button>
      </div>
  </form>

  <script src="{% static 'scripts/bill.js' %}"></script>

{% endblock %}